#container1{
	display: flex;
	height: 500px;
	width: 500px;
	background-color: pink;
	display: flex;
}
#div1{
	height: 200px;
	width: 200px;
    background-color: gold;
    flex-grow: 4;
}    
#div2{
	height: 200px;
	width: 200px;
	background-color: blue;
	flex-grow: 1;
}
#container2{
	display: flex;
	height: 500px;
	width: 500px;
	background-color: pink;
	display: flex;
}

#div3{
	height: 400px;
	width: 400px;
    background-color: gold;
    flex-shrink: 4;
}    
#div4{
	height: 400px;
	width: 400px;
	background-color: blue;
	flex-shrink: 1;
}


















