#container1{
	display: flex;
	height: 500px;
	width: 500px;
	background-color: pink;
	/*flex-direction: row;*/
}
#div1{
	height: 100px;
	width: 100px;
    background-color: gold;
}
#div2{
	height: 100px;
	width: 100px;
	background-color: blue;
}
#div3{
	height: 100px;
	width: 100px;
	background-color: orange;
}
#div4{
	height: 100px;
	width: 100px;
	background-color: lavender;
}

#container2{
	display: flex;
	height: 500px;
	width: 500px;
	background-color: pink;
	flex-direction: column;
}
#div5{
	height: 100px;
	width: 100px;
    background-color: gold;
}
#div6{
	height: 100px;
	width: 100px;
	background-color: blue;
}
#div7{
	height: 100px;
	width: 100px;
	background-color: orange;
}
#div8{
	height: 100px;
	width: 100px;
	background-color: lavender;
}

#container3{
	display: flex;
	height: 500px;
	width: 500px;
	background-color: pink;
	flex-direction: row-reverse;
}
#div9{
	height: 100px;
	width: 100px;
    background-color: gold;
}
#div10{
	height: 100px;
	width: 100px;
	background-color: blue;
}
#div11{
	height: 100px;
	width: 100px;
	background-color: orange;
}
#div12{
	height: 100px;
	width: 100px;
	background-color: lavender;
}

#container4{
	display: flex;
	height: 500px;
	width: 500px;
	background-color: pink;
	flex-direction: column-reverse;
}
#div13{
	height: 100px;
	width: 100px;
    background-color: gold;
}
#div14{
	height: 100px;
	width: 100px;
	background-color: blue;
}
#div15{
	height: 100px;
	width: 100px;
	background-color: orange;
}
#div16{
	height: 100px;
	width: 100px;
	background-color: lavender;
}

#container5{
	display: flex;
	height: 500px;
	width: 500px;
	background-color: pink;
}
#div17{
	height: 100px;
	width: 100px;
    background-color: gold;
    order: 1;
}
#div18{
	height: 100px;
	width: 100px;
	background-color: blue;
}
#div19{
	height: 100px;
	width: 100px;
	background-color: orange;
	order: -1;
}
#div20{
	height: 100px;
	width: 100px;
	background-color: lavender;
}
#container6{
	display: flex;
	height: 500px;
	width: 500px;
	background-color: pink;
	flex-direction: row-reverse;
}
#div21{
	height: 100px;
	width: 100px;
    background-color: gold;
    order: 1;
}
#div22{
	height: 100px;
	width: 100px;
	background-color: blue;
}
#div23{
	height: 100px;
	width: 100px;
	background-color: orange;
	order: -1;
}
#div24{
	height: 100px;
	width: 100px;
	background-color: lavender;
}
#container7{
	display: flex;
	height: 500px;
	width: 500px;
	background-color: pink;
	flex-direction: column;
}
#div25{
	height: 100px;
	width: 100px;
    background-color: gold;
    order: 1;
}
#div26{
	height: 100px;
	width: 100px;
	background-color: blue;
}
#div27{
	height: 100px;
	width: 100px;
	background-color: orange;
	order: -1;
}
#div28{
	height: 100px;
	width: 100px;
	background-color: lavender;
}
#container8{
	display: flex;
	height: 500px;
	width: 500px;
	background-color: pink;
	flex-direction: column-reverse;
}
#div29{
	height: 100px;
	width: 100px;
    background-color: gold;
    order: 1;
}
#div30{
	height: 100px;
	width: 100px;
	background-color: blue;
}
#div31{
	height: 100px;
	width: 100px;
	background-color: orange;
	order: -1;
}
#div32{
	height: 100px;
	width: 100px;
	background-color: lavender;
}