#id1{
	color: powderblue;
}
#id2{
	color: plum;
}
#id3{
	color: springgreen;
}
#id4{
	font-family: cursive;
	font-size: 40px;
	color: deeppink;
}
#id5{
	border-style: ridge;
	text-transform: capitalize;
}