
/* DESKTOP FIRST VERSION */

div{
	/* DEFAULT ONE */
	margin: 5px;
	border:2px solid black;
	font-family: sans-serif;
	width: 60%;
}
/*
@media screen and ( max-width: 900px){
	div{
		width: 60%;
	}
}
@media screen and ( max-width: 600px){
	div{
		width: 100%;
	}
}
*/

/* MOBILE FIRST VERSION */
@media screen and ( min-width: 600px ){
    div{
		width: 80%;
	}
}
@media screen and ( min-width: 900px ){
    div{
		width: 60%;
	}
}
