#transformandtransition1{
    height: 200px;
	width: 200px;
	transition: height 1s ease-in-out 0.5s;
	position: relative;
	top: 20%;
	left: 20%;	
	background-color: blue;
	transform: rotate(45deg) scale(1.5) translate(150px);
}